@media screen and (min-width: 300px) and (max-width: 538px) {
	body .container{
		width: 100%;
		font-size: 20px;
	}

	.container .deck {
    	width: 100%;	}

	.container .deck .card {    
    	width: 23%;    	
	}

	.score-panel .timer{
	    width: 20%;
	    font-size: 20px;
	}

	.container .score-panel {
    	width: 95%;
	}

	.moves {
		width: 23%;
		margin-right: 15px;
	}
}
@media screen and (min-width: 539px) and (max-width: 750px) {
	body .container{
		max-width: 100%;
		font-size: 20px;
	}
	.container .deck {
    	width: 100%;
	}
	.container .deck .card {    
    	width: 23%;    	
	}
}

@media screen and (min-width: 751px) {
	body .container {
    	width: 660px;
    	margin-left: auto;
    	margin-right: auto;
    	font-size: 20px;
    }
    .score-panel .timer{
	    font-size: 20px;
	}
	
	
}

